html
    head
        title= title

        script(async, defer, src="https://hcaptcha.com/1/api.js")

        script(type='text/javascript').

            const data= JSON.parse( decodeURI("#{data}") );
            const params= JSON.parse( decodeURI( "#{params}") );

            console.log("Initialized", data, params);

            function onSolved(token){

                const xhr = new XMLHttpRequest();
                const url = window.location.origin+'/sign';

                xhr.responseType = 'json';
                xhr.open("POST", url);

                xhr.onload = function() {
                    const out = xhr.response;
                    const outputElement = document.getElementById('output');
                    if (outputElement){
                        outputElement.value = JSON.stringify(out)
                        outputElement.style.display = "inline";
                    }
                    console.log(out);

                    if (window.opener)
                        window.opener.postMessage({message: 'signed', out: out, data, params }, '*');

                    if (window.parent)
                        window.parent.postMessage({message: 'signed', out: out, data, params }, '*');
                };

                const json = JSON.stringify({
                    token,
                    data,
                    params,
                });

                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                xhr.send(json);

            }

    body

        div( class="h-captcha" data-sitekey= sitekey data-callback="onSolved" data-size="compact" )

        if showOutput
          textarea( id="output" style="display: none; width: 500px; height: 200px" )