html
    head
        title= title
        script(async, defer, src="https://hcaptcha.com/1/api.js")
        script(type='text/javascript').

            console.log("Initialized");

            function onSolved(token){

                const xhr = new XMLHttpRequest();
                const url = window.location.origin+'/sign';

                xhr.responseType = 'json';
                xhr.open("POST", url);

                xhr.onload = function() {
                    const out = xhr.response;
                    const outputElement = document.getElementById('output');
                    if (outputElement){
                        outputElement.value = JSON.stringify(out)
                        outputElement.style.display = "inline";
                    }
                    console.log(out);
                };

                const json = JSON.stringify({
                    data: document.getElementById('data').value,
                    includeTime: document.getElementById('includeTime').value,
                    token,
                });

                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                xhr.send(json);

            }

    body

        input( type="hidden" id="data" value= data)
        input( type="hidden" id="includeTime" value= includeTime )

        div( class="h-captcha" data-sitekey= sitekey data-callback="onSolved" )

        if showOutput
          textarea( id="output" style="display: none; width: 500px; height: 200px" )